@font-face {
	font-family: 'Maison Neue';
	src: url('/static/assets/MaisonNeue-Mono.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/static/assets/MaisonNeue-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/static/assets/MaisonNeue-Medium.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/static/assets/MaisonNeue-Demi.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('/static/assets/MaisonNeue-Bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

*, body {
	box-sizing: border-box;
	font-family: "Maison Neue", "Source Sans Pro", sans-serif;
}

* {
	-webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
	margin: 0;
	color: #1e3652;
  overflow: hidden;
}

.gradient {
  position: absolute;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

.gradient-default {
  background: linear-gradient(217deg, rgba(255,0,0,0.05), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.05), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.05), rgba(0,0,255,0) 70.71%);
}

.gradient-success {
  opacity: 0;
  background: linear-gradient(217deg, rgba(0, 255, 20, 0.09), rgba(0, 78, 255, 0.08) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.05), rgba(0, 196, 255, 0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.05), rgba(255, 0, 224, 0.04) 70.71%);
}

.gradient.show {
  animation: gradient-switch 0.75s;
  animation-fill-mode: forwards;
}

@keyframes gradient-switch {
  to {
    opacity: 1;
  }
}

.container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
  width: 500px;
  background: #fff;
  box-shadow: 0 10px 20px -18px rgba(29,35,61,0.51);
  border-radius: 5px;
  z-index: 1;
}

.container:first-of-type {
  top: 5%;
}

.container:not(:first-of-type) {
  top: 100vh;
}

.container.hide {
  animation: hide-modal 1s;
  animation-fill-mode: forwards;
}

.container.show {
  animation: show-modal 1s;
  animation-fill-mode: forwards;
}

@keyframes hide-modal {
  to {
    top: -100%;
  }
}

@keyframes show-modal {
  to {
    top: 5%;
  }
}

.content {
  padding: 10px 30px;
  font-size: 1.2em;
  font-weight: 500;
}

.content:not(:first-child) {
  padding: 0;
}

.content p {
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.5;
}

.content.hide {
  display: none;
}

.button {
  background: linear-gradient(127deg, rgba(201, 28, 84, 0.63), rgba(199, 7, 87, 0.68) 70.71%);
  border: none;
  color: white;
  padding: 25px 20px 25px 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px -10px #da5f8f;
}

.button:after {
  content: '\279E';
  float: right;
  margin-top: -1px; /* why? */
}

.sign-in form {
  margin: 0;
  display: flex;
}

.sign-in button:disabled {
  opacity: 0.4;
  pointer-events: none;
}

.sign-in button {
  width: 300px;
  outline: none;
}

.sign-in input {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 1.5em;
  font-weight: 200;
  padding: 25px 20px 25px 30px;
  outline: none;
  letter-spacing: 5;
  color: rgba(0, 0, 0, 0.8);
}

.sign-in input::placeholder {
  font-weight: 500;
  letter-spacing: 1.3;
  color: rgba(0, 0, 0, 0.5);
}

.container.error {
  animation: shake 0.8s;
}

@keyframes shake {
  10%, 90% {
    transform: translateX(calc(-50% - 1px));
  }

  20%, 80% {
    transform: translateX(calc(-50% + 2px));
  }

  30%, 50%, 70% {
    transform: translateX(calc(-50% - 4px));
  }

  40%, 60% {
    transform: translateX(calc(-50% + 4px));
  }
}

.content code {
  font-weight: 200;
  font-size: 0.9em;
}

.content p a, .content p a:visited {
  color: rgb(117, 108, 121);
  text-decoration: none;
  font-weight: 500;
}

.content p a:hover {
  text-decoration: underline;
}

p#status {
  font-weight: 400;
  font-size: 1em;
  padding: 0px 30px 0px 30px;
  background-image: linear-gradient(127deg, rgba(119, 119, 119, 0.94), rgb(132, 132, 132));
  -webkit-background-clip: text;
  color: transparent;
  height: 0;
  transform: translateY(-11px);
  padding-bottom: 18px;
  margin-top: -5px;
  margin-bottom: 0px;
}

p#status.error::first-letter {
  text-transform: uppercase;
}

p#status.error {
  background-image: linear-gradient(127deg, rgba(255, 89, 89, 0.94), rgb(255, 106, 106));
  text-transform: lowercase;
}

.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  font-weight: 300;
  color: rgba(69, 65, 76, 0.82);
  z-index: 0;
  text-align: center;
  line-height: 1.3em;
}

.footer a, .footer a:visited {
  color: rgba(69, 65, 76, 0.82);
  text-decoration: none;
  font-weight: 500;
}
